{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block content %}
      <h1>Welcome on My PhotoShop</h1>

      {% if True %}
          <form action="upload" method="post" enctype="multipart/form-data">
              <label for="myfile">Select a file:</label>
              <input type="file" id="myfile" name="myfile"><br><br>
              <select name="select">
                  <option value="grayscale">Gray Scale</option>
                  <option value="vmirror">Vertical mirroring</option>
              </select>
              <input type="submit" />
          </form>
      {% else %}
          <p>No restaurants exist.  Select Add new restaurant to add one.</p>
      {% endif %}
{% endblock %}