{% extends "base.html" %}
{% block title %}Restaurant List{% endblock %}
{% block content %}
      <h1>Welcome on My PhotoShop</h1>

      {% if True %}
          <form action="classify_upload" method="post" id="upload-form">
              <label for="myfile">Select a file:</label>
              <input type="file" id="myfile" name="myfile"><br><br>
              <input type="submit" />
          </form>
      {% else %}
          <p>No restaurants exist.  Select Add new restaurant to add one.</p>
      {% endif %}

      <div class="d-flex justify-content-end">
              <a href="{{ url_for('create_restaurant') }}" class="btn btn-success px-4 gap-3">Add new restaurant</a>
      </div>
{% endblock %}